html {
  background-color: black;
}

#application {
  position: relative;
}

#wrong-button-warning {
  background-color: #a00;
  border-radius: 10px;
  color: white;
  font-size: 40px;
  left: 50%;
  padding: 10px 10px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#code-area {
  font-family: consolas;
  background-color: rgba(230, 230, 255, 0.95);
}

/*
#invis-input {
  position: absolute;
}
*/

.highlight {
  background-color: rgba(255, 255, 0, 0.3);
}

.lowlight {
  color: green;
}

span {
  tab-size: 2;
  white-space: pre;
}

span.highlight {
  background-color: rgba(255, 0, 0, 0.6);
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.3);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.6);
  }
}
