html {
  background-color: black;
}
#code-area {
  font-family: consolas;
  background-color: rgba(230, 230, 255, 0.95);
}

.highlight {
  background-color: rgba(255, 255, 0, 0.3);
}

.lowlight {
  color: green;
}

span {
  tab-size: 2;
  white-space: pre;
}

span.highlight {
  background-color: rgba(255, 0, 0, 0.6);
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.3);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.6);
  }
}
